*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'figtree', sans-serif;
    background-color: hsl(47, 88%, 63%);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 1rem;
}
.card-container{
    background-color: hsl(0, 0%, 100%);
    border: 1px solid hsl(0, 0%, 0%);
    border-radius: 15px;
    box-shadow: 10px 10px 0 hsl(0, 0%, 0%);
    max-width: 500px;
    width: 100%;
    overflow: hidden;
    padding: clamp(1.25rem, 1rem + 0.5vw, 2rem);
}
.blog-image{
    width: 100%;
    display: block;
    border-radius: 15px;
}

.content-section{
    padding: 1rem 0;
    font-weight: 500;
    color: hsl(0, 0%, 42%);
}

.badge{
    background-color: hsl(47, 88%, 63%);
    color: hsl(0, 0%, 7%);
    font-size: 1rem;
    font-weight: 800;
    padding: 0.25rem 0.75rem;
    border-radius: 5px;
    display: inline-block;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.title{
    color: hsl(0, 0%, 7%);
    font-weight: 800;
    font-size: clamp(1.4rem, 1.3rem + 0.5vw, 1.8rem);
    padding: 1rem 0;
}
.title:hover{
    color: hsl(47, 88%, 63%);
    cursor: pointer;
}
.author-info{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    padding: 0.8rem 0;
}
.author-name{
    color: hsl(0, 0%, 7%);
    font-size: 1rem;
    font-weight: 800;
    text-align: center;
}

.author-avatar{
    width: 32px;
    height: 32px;
}

p{
    font-size: 16px;
}